@import "src/styles/variables"

.hero-section
  background-color: #b2ebf2

.hero-text
  font-size: 3.5rem
  line-height: 1em
  font-weight: 900
  margin: 1.5em 0

.hero-input-container
  width: max-content
  margin-bottom: 10rem
  background-color: #ffffff
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1)

.hero-input-icon
  padding: 0 1rem
  color: $colorGray

.hero-input-control
  min-width: 20.5rem
  padding: 2rem 0
  background-color: #ffffff
  border: none
  outline: none

.hero-vertical-rule
  width: 0.05rem
  height: 100%
  background-color: $colorLightGray

.hero-primary-btn
  padding: 2rem 3rem

.hero-margin-bottom
  margin-bottom: 5rem

.home-section
  padding: 4rem 0
  background-color: $colorBackground


.portfolio-logo-container
  margin-left: auto

.portfolio-logo-container > img
  width: 6rem
  height: auto
  filter: grayscale(100%)

.portfolio-logo-container > *
  margin: 0 3rem


$gutter: 1rem

$categoryCardCount: 5
$categoryCardWidth: calc((#{$containerWidth} - (#{$gutter} * (#{$categoryCardCount} - 1))) / #{$categoryCardCount})
.category-card-container
  margin-top: 3rem
  display: grid
  grid-template-columns: repeat($categoryCardCount, $categoryCardWidth)
  grid-auto-rows: $categoryCardWidth
  gap: $gutter

$cardCount: 3
$cardWidth: calc((#{$containerWidth} - (#{$gutter} * (#{$cardCount} - 1))) / #{$cardCount})
.card-container
  margin-top: 3rem
  display: grid
  grid-template-columns: repeat($cardCount, $cardWidth)
  grid-auto-rows: $cardWidth
  gap: $gutter

.home-primary-btn
  padding: 1rem 4rem
  font-size: 1.1rem

.home-section-btn-container
  margin-top: 1.5rem

.location-select-section
  font-size: 1.2rem
  a
    margin: 0 1rem
    font-size: 1.4rem
    color: $colorOnBackground

  .location-container
    margin-top: 2rem
