<section class="hero-section">
  <img class="hero-img" src="../../assets/person.png">
  <div class="container flex-column">
    <h1 class="hero-text">Find the<br /> most exciting<br /> startup jobs</h1>

    <div class="hero-input-container">
      <i class="fas fa-search hero-input-icon"></i>
      <input
        class="hero-input-control"
        placeholder="Job title or keyword">
      <span class="hero-vertical-rule"></span>
      <i class="fas fa-map-marker-alt hero-input-icon"></i>
      <select class="hero-input-control">
        <option>Copenhagen, Denmark</option>
      </select>
      <button class="primary-btn hero-primary-btn">Search</button>
    </div>

    <div class="hero-margin-bottom">Made by <a>Rainmaking</a>, and powered by <a>Danske Bank</a></div>
  </div>
</section>

<section class="home-section">
  <div class="container flex-row flex-align-center">
    <div>Companies we've helped build</div>
    <div class="portfolio-logo-container flex-row flex-align-center">
      <img src="assets/williams_logo.png" />
      <img src="assets/caring-company-logo.png" />
      <img src="assets/disney_logo.png"/>
      <img src="assets/kelloggs_logo.png" />
      <img src="assets/the_boring_company_logo.png"/>
    </div>
  </div>
</section>

<section class="home-section">
  <div class="container flex-column">
    <h3>Explore<br /> by category</h3>
    <div class="category-card-container">
      <app-category-card *ngFor="let category of categories" [category]="category"></app-category-card>
    </div>
  </div>
</section>

<section class="home-section">
  <div class="container flex-column">
    <h3>Jobs</h3>
    <span>Find a job you love. <a>Set career interests.</a></span>
    <div class="card-container">
      <app-job-card *ngFor="let job of jobs" [job]="job"></app-job-card>
    </div>
    <div class="home-section-btn-container flex-row flex-justify-center">
      <button class="primary-btn home-primary-btn">Show all jobs</button>
    </div>
  </div>
</section>

<section class="home-section">
  <div class="container flex-column">
    <h3>Startups</h3>
    <span>Find your second home. <a>Set career interests.</a></span>
    <div class="card-container">
      <app-startup-card *ngFor="let startup of startups" [startup]="startup"></app-startup-card>
    </div>
    <div class="home-section-btn-container flex-row flex-justify-center">
      <button class="primary-btn home-primary-btn">Show all startups</button>
    </div>
  </div>
</section>

<section class="home-section location-select-section">
  <div class="container flex-column flex-align-center">
    <span>You're are now seeing jobs from Denmark.</span>
    <span>The Hub is also available in:</span>
    <div class="flex-row flex-align-center location-container">
      <a>Ireland</a>
      <a>Finland</a>
      <a>Sweden</a>
      <a>Norway</a>
    </div>
  </div>
</section>


